html,
body {
    margin: 0;
    overflow-x: hidden;
    background-color: lightgrey;
    min-height: 100vh;
    scroll-behavior: smooth;
}

button:hover {
    cursor: pointer;
}

p {
    margin: 0;
}

.navbar {
    height: 8vh;
    width: 100%;
    background-color: #6592c2;
    display: flex;
    justify-content: space-between;
    border: 1.5px solid #000;
}

.navbar_logo {
    height: 7vh;
}

.cart_icon {
    height: 5vh;
    width: auto;
}

.cart-wrapper {
    position: relative;
    display: inline-block;
}

#reddot {
    position: absolute;
    top: -5px;
    right: -5px;
    height: 12px;
    width: 12px;
    display: none;
}

.navbar-left,
.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-left {
    width: 85%;
}

.navbar-right {
    width: 15%;
    display: flex;
    justify-content: space-evenly;
}

.dropbtn {
    background-color: #6592c2;
    border: none;
    cursor: pointer;
    font-size: 30px;
    height: 100%;
    display: flex;
    align-items: center;
}

.dropdown {
    position: relative;
    height: 100%;
    padding: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #6592c2;
    min-width: 150px;
    right: 0;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #000;
    font-size: 25px;
}

.dropdown-content a:hover {
    background-color: #000;
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.hero {
    height: 112vh;
    width: 100%;
    display: flex;
}

.hero-right p {
    margin: 0;
    color: #6592c2;
    font-size: 110px;
    padding: 20px;
    text-align: center;
}

.hero-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 40vw;
}

.hero-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60vw;
}

.item-1 {
    transform: rotate(-5deg);
}

.item-2 {
    transform: rotate(20deg);
}

.item-3 {
    transform: rotate(190deg);
}

.item-1,
.item-2,
.item-3 {
    background-color: #6592c2;
    border: 1.5px solid #000;
}

.cap_1 {
    width: 240px;
}

.cart-adding-div {
    display: flex;
}

.cart-adding-button {
    border: 0;
    background: none;
}

.stock-button {
    border: 2px solid #000;
    color: #000;
    background-color: #6592c2;
    padding: 20px;
    font-size: 30px;
    text-decoration: none;
}

.stock-title {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 100px;
}

.cards {
    display: flex;
    justify-content: space-evenly;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #6592c2;
    border: 2px solid #000;
    width: 25vw;
    margin-bottom: 10vh;
}

.card img {
    width: 80%;
    height: 40vh;
}

.add-to-cart-img {
    height: 40px !important;
    width: 40px !important;
}

.price {
    font-size: 40px;
}

.item-name {
    font-size: 40px;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 25px;
    margin-bottom: 30px;
}

.register-label {
    font-size: 50px;
}

.form-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-button {
    border: 2px solid #000;
    background-color: #6592c2;
    padding: 10px 20px;
    font-size: 30px;
}

.register-button:hover {
    cursor: pointer;
}

.admin-items-titel {
    font-size: 70px;
    margin: 20px;
    text-align: center;
}

.admin-items-div {
    margin: 20px;
    border: 2px solid #000;
    background-color: #6592c2;
}

.admin-item {
    border: 2px solid #000;
    background-color: #6592c2;
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.admin-part-25 {
    width: 25%;
    display: flex;
    justify-content: center;
}

.reset-and-plus-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

#reset-button,
.add-button,
.orders-view-button {
    background-color: #6592c2;
    border: 2px solid #000;
    padding: 5px 15px;
    font-size: 30px;
}

.edit-button,
.remove-button {
    border: 2px solid #000;
    padding: 5px 10px;
    font-size: 20px;
}

.edit-remove-div {
    display: flex;
    justify-content: end;
    gap: 20px;
}

.add-product-button-div {
    display: flex;
    justify-content: end;
    margin: 20px;
}

.new-items-titel {
    text-align: center;
    font-size: 80px;
}

.new-item-creator-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.new-item-creator-div label {
    font-size: 40px;
}

.footer-icons-div {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4%;
}

.footer-icons-div img {
    height: 50px;
}

.contacting-div {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-weight: 600;
    font-size: 25px;
}

.top-footer-div {
    text-align: center;
    height: 10vh;
}

.bottom-footer-div {
    display: flex;
    width: 100%;
    height: 25vh;
}

.footer-title {
    color: #000;
    font-size: 80px;
}

.footer {
    border-top: 2px solid #000;
    width: 100%;
    background-color: #6592c2;
    height: 35vh;
}

.cart-div {
    min-height: 80vh;
}

.order-button-div {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.order-button {
    padding: 10px;
    background-color: #6592c2;
    border: 2px solid #000;
    font-size: 30px;
}

.cart-items-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.cart-items-div div {
    padding: 10px;
}

.ordered-page-middle {
    min-height: 92vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.ordered-page-middle-title {
    font-size: 130px;
}

.admin-orders-view {
    padding: 0 20px;
}

.admin-orders-view p {
    font-size: 25px;
}

.admin-orders-view h3 {
    font-size: 40px;
}

#productContainer {
    display: grid;
    grid-template-columns: repeat(3, 450px);
    gap: 20px;
    justify-content: center;
}

#all-products-view {
    background: #6592c2;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.product {
    display: flex;
}

.products-title {
    font-size: 50px;
    text-align: center;
    margin: 20px;
}

.product-styling {
    width: 16.6666666667%;
    text-align: center;
    overflow-wrap: break-word;
}

.product-elements {
    width: 100%;
    background: #6592c2;
    display: flex;
}

.product-element-name {
    width: 16.6666666667%;
    text-align: center;
    padding: 20px;
    font-size: 20px;
}

.edit-button-styling,
.delete-button-styling {
    background: #000;
    color: white;
}
