html,
body {
    margin: 0;
    overflow-x: hidden;
    background-color: lightgrey;
}

p {
    margin: 0;
}

@font-face {
    font-family: "Space Patrol";
    src: url("font/Spacepatrol-vK7y.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.navbar {
    height: 8vh;
    width: 100%;
    background-color: #418b35;
    display: flex;
    justify-content: space-between;
    border: 1.5px solid #204528;
}

.navbar_logo {
    height: 7vh;
}

.cart_icon {
    height: 5vh;
    width: auto;
}

.navbar-left,
.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-left {
    width: 85%;
}

.navbar-right {
    width: 15%;
    display: flex;
    justify-content: space-evenly;
}

.dropbtn {
    background-color: #418b35;
    padding: 16px;
    border: none;
    cursor: pointer;
    color: #b6140f;
    font-family: "Space Patrol", sans-serif;
    -webkit-text-stroke: 0.7px #204528;
    font-size: 30px;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #418b35;
    min-width: 150px;
    right: 0;
    top: 11vh;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #b6140f;
    font-family: "Space Patrol", sans-serif;
    -webkit-text-stroke: 0.7px #204528;
    font-size: 25px;
}

.dropdown-content a:hover {
    background-color: #b6140f;
    color: #b6140f;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.hero {
    height: 92vh;
    width: 100vw;
    display: flex;
}

.hero-right p {
    margin: 0;
    color: #b6140f;
    -webkit-text-stroke: 2px #204528;
    font-size: 110px;
    padding: 20px;
    text-align: center;
}

.hero-left,
.hero-right {
    width: 50vw;
}

.hero-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.hero-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item-1 {
    transform: rotate(-5deg);
}

.item-2 {
    transform: rotate(20deg);
}

.item-3 {
    transform: rotate(190deg);
}

.item-1,
.item-2,
.item-3 {
    background-color: #418b35;
    border: 1.5px solid #204528;
}

.cap_1 {
    width: 240px;
}

.stock-button {
    color: #b6140f;
    border: 2px solid #204528;
    background-color: #418b35;
    padding: 20px;
    font-size: 30px;
    text-decoration: none;
}

.footer {
    width: 100%;
    background-color: #b6140f;
}

.hero-right-title {
    font-family: "Space Patrol", sans-serif;
}

.cards {
    display: flex;
    justify-content: space-evenly;
}

.card {
}
